<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #273746;">
  <div>
    <div>
      <a class="navbar-brand text-warning" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        CARDENAS B&M
      </a>
    </div>
    <div>
      <button (click)="logout()" *ngIf="user">Cerrar Sesion</button>
    </div>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <!-- Productos solo visible para el empleado -->
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/carrito" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Productos Disponibles</a>
      </li>
      <!-- Servicio solo visible para el Admin -->
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/servicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Servicios Activos</a>
      </li>
      <!-- Productos solo visible para el Admin -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/producto" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Productos</a>
      </li>
      <!-- Cliente solo visible para el Admin -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/cliente" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cliente</a>
      </li>
      <!-- Vehículo solo visible para el Admin -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/vehiculo" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vehículos</a>
      </li>
      <!-- Empleado solo visible para el Admin -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/empleado" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Empleado</a>
      </li>
      <!-- Usuario solo visible para el Admin -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/usuario" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Usuario</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link text-light" routerLink="/reporte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reportes</a>
      </li>
      <!-- Home visible para todos los usuarios -->
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
    </ul>
  </div>

  <div *ngIf="user" class="text-light ms-3">
    <h5>Bienvenido, {{ user.username }}</h5>
  </div>
</nav>