<app-header></app-header>
<br>
<div class="container">
  
    <h3>Agregar un nuevo Servicio</h3>
    <button class="btn btn-primary mb-3" (click)="openModal()">Add New Servicio</button>

    <p>Listado de Servicio Disponibles</p>
    <table class="table">
        <thead class="thead table-dark">
            <tr>
                <th>Descripcion</th>
                <th>Costo</th>
                <th>Empleado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let temp of servicios">
                <td>{{temp.descripcion}}</td>
                <td>{{temp.costo}}</td>
                <td>{{temp.usuario}}</td>
                <td> <button class="btn btn-warning" (click)="openModal(temp)">Editar </button> &nbsp;
                    <button class="btn btn-danger" (click)="delete(temp.id)">Eliminar </button> &nbsp;
                    <button class="btn btn-info" >Solicitar </button>
                </td>

            </tr>
        </tbody>
    </table>

    

</div>
