<div class="modal-header">
    <h4 class="modal-title">{{ isEditMode ? 'Edit Producto' : 'Add New Producto' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombres" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombres" formControlName="nombres"
                [ngClass]="{'is-invalid': submitted && f['nombres'].errors}">
            <div *ngIf="submitted && f['nombres'].errors" class="invalid-feedback">
                Nombre is required
            </div>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion</label>
            <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion"
                rows="3" cols="40"
                [ngClass]="{'is-invalid': submitted && f['descripcion'].errors}"></textarea>
            <div *ngIf="submitted && f['descripcion'].errors" class="invalid-feedback">
                Descripcion is required
            </div>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" formControlName="precio"
                [ngClass]="{'is-invalid': submitted && f['precio'].errors}">
            <div *ngIf="submitted && f['precio'].errors" class="invalid-feedback">
                Precio is required
            </div>
        </div>
        <div class="mb-3">
            <label for="stok" class="form-label">Stock</label>
            <input type="text" class="form-control" id="stock" formControlName="stock"
                [ngClass]="{'is-invalid': submitted && f['stock'].errors}">
            <div *ngIf="submitted && f['stock'].errors" class="invalid-feedback">
                Stok is required
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary">
                {{ isEditMode ? 'Update Producto' : 'Save Producto' }}
            </button>
        </div>
    </form>
</div>