<app-header></app-header>
<br>
<div class="container">
  
    <h3>Agregar un nuevo Empleado</h3>
    <button class="btn btn-primary mb-3" (click)="openModal()">Add New Empleado</button>
    
 <!--
    
   
    <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="form-group">
                <label for="txtUsuario"> Nombre</label>
                <input class="form-control" placeholder="Ingrese sus Nombres" formControlName="Nombre">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtUsuario"> Apellidos</label>
                <input class="form-control" placeholder="Ingrese sus Apellidos" formControlName="Apellidos">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtUsuario"> Dni</label>
                <input class="form-control" placeholder="Ingrese su Dni" formControlName="Dni">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtUsuario"> Telefono</label>
                <input class="form-control" placeholder="Ingrese su Telefono" formControlName="Telefono">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtCorreo"> Correo</label>
                <input class="form-control" placeholder="Ingrese su correo" formControlName="Correo">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="txtUsuario"> tipo</label>
                <input class="form-control" placeholder="Ingrese su tipo" formControlName="tipo">
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-4">

            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary"> Guardar</button> &nbsp;
                <button type="button" class="btn btn-danger" (click)="resetForm()"> Cancelar</button>
            </div>
            <div class="col-4">

            </div>

        </div>

    </form>
--> 

    <p>Listado de Usuarios</p>
    <table class="table">
        <thead class="thead table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dni</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td>{{empleado.nombres}}</td>
                <td>{{empleado.apellidos}}</td>
                <td>{{empleado.dni}}</td>
                <td>{{empleado.telefono}}</td>
                <td>{{empleado.correo}}</td>
                <td>{{empleado.rol}}</td>
                <td> <button class="btn btn-warning" (click)="openModal(empleado)">Editar </button> &nbsp;
                    <button class="btn btn-danger" (click)="delete(empleado.id)">Eliminar </button>
                </td>

            </tr>
        </tbody>
    </table>

    

</div>
