<div class="modal-header">
    <h4 class="modal-title">{{ isEditMode ? 'Edit Empleado' : 'Add New Empleado' }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="nombre" class="form-label">nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                [ngClass]="{'is-invalid': submitted && f['nombre'].errors}">
            <div *ngIf="submitted && f['nombre'].errors" class="invalid-feedback">
                Name is required
            </div>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">apellido</label>
            <input type="apellido" class="form-control" id="apellido" formControlName="apellido"
                [ngClass]="{'is-invalid': submitted && f['apellido'].errors}">
            <div *ngIf="submitted && f['apellido'].errors" class="invalid-feedback">
                <div *ngIf="f['apellido'].errors['required']">apellido is required</div>
                <div *ngIf="f['apellido'].errors['apellido']">Invalid apellido format</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary">
                {{ isEditMode ? 'Update Empleado' : 'Save Empleado' }}
            </button>
        </div>
    </form>
</div>
